footer {
    width: 100%;
    height: 267px;
    background: #12141D;
    padding: 100px 150px 37px 150px;
}

.footer-container {
    height: 128px;
    color: #fff;
}

.footer-link-home {
    cursor: pointer;
    font-weight: 700;
    font-style: Bold;
    font-size: 34.62px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
    text-decoration: none;
}

.footer-block-line{
    width: 100%;
    height: 1px;
    background: grey;
}

.footer-block-first{
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

.footer-block-second{
    height: 64px;
}

.footer-nav{
    width: 450px;
    justify-content: space-between;
}

.footer-link-nav{
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
}

.footer-social-icons{
    width: 150px;
    justify-content: space-between;
}

.footer-social-icon{
    cursor: pointer;
}

.footer-link-police{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.footer-block-second{
    justify-content: space-between;
    align-items: center;
}

.footer-link-police-block{
    width: 280px;
    justify-content: space-between;
}