.basket-component {
    min-height: calc(100vh - 267px);
    padding-top: 100px;
    margin-bottom: 30px;
}

.basket-title {
    width: 900px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.basket-title p {
    color: #707070;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
    cursor: pointer;
}

.basket-block-items {
    width: 900px;
}

.basket-block-registration {
    width: 500px;
    height: 642px;
}

.basket-block-item {
    width: 900px;
    height: 130px;
    border-width: 1px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 33px;
    border-radius: 8px;
    padding: 0 20px;
}

.basket-block-item-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    margin-right: 25px;
}

.basket-block-item-name-count {
    width: 665px;
    height: 90px;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}

.basket-block-item-x-price {
    width: 140px;
    height: 90px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
}

.basket-block-registration {
    width: 500px;
    height: 620px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 50px;
    border-radius: 8px;
    margin-left: 20px;
}

.description {
    height: 42px;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}

.basket-block-inputs {
    width: 400px;
    height: 260px;
    margin-bottom: 30px;
}

.basket-block-input {
    width: 400px;
    height: 50px;
    opacity: 1;
    border: 0;
    border-width: 1px;
    padding: 15px;
    border-radius: 8px;
    background-color: #F1F8FF;
}

.basket-block-input:focus {
    outline: none;
    border: solid 1px #4A90E2;
}

.basket-block-registration h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #1E2126;
    text-align: center;
    margin-bottom: 50px;
}

.basket-block-price-count {
    margin-bottom: 30px;
}

.basket-block-registration button {
    margin-bottom: 30px;
}

.basket-block-count {
    font-weight: 900;
    font-style: Black;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #707070;
}

.basket-block-price {
    font-weight: 900;
    font-style: Black;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
    color: #1D6BDD;
}

.description span{
    color: #1D6BDD;
    cursor: pointer;
}