header {
  width: 100%;
  height: 76px;
  background: #FDFDFD;
  position: fixed;
  z-index: 1000;
}

.link-home {
  cursor: pointer;
  font-weight: 700;
  font-style: Bold;
  font-size: 34.62px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2b3a4e;
  text-decoration: none;
}

.header-span {
  width: 153px;
  height: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  margin-left: 12px;
  color: #263141;
}

.catalog {
  margin-left: 32px;
  border-radius: 8px 0 0 8px;
  width: 200px;
  height: 52px;
  padding: 0 35px 0 20px;
  background: #2563EB;
  border: none;
  color: white;
  cursor: pointer;
}

.catalog:hover{
  background: #1E40AF;
}

.container input {
  border-radius: 0 8px 8px 0;
  width: 641px;
  height: 52px;
  padding: 10px 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='7' stroke='%23999' stroke-width='2'/%3E%3Cpath d='M16 16L21 21' stroke='%23999' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 20px;
  background-color: #f2f5f9;
  border: 0;
}

.container input:focus {
  outline: none;
  border-color: #ff4d4d;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='7' stroke='%23FF4D4D' stroke-width='2'/%3E%3Cpath d='M16 16L21 21' stroke='%23FF4D4D' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}

.header-item{
    width: 52px;
    height: 52px;
    border-radius: 8px;
    background: #F2F5F9;
    margin-left: 20px;
    cursor: pointer;
}

.header-item img{
    width: 20px;
    height: 20px;
}

.header-item img.basket {
    width: 23px;
    height: 23px;
}

