
.item{
    padding: 24px;
    width: 317px;
    height: 480px;
    background: #f1f1f5;
    border-radius: 8px;
}

.list{
    justify-content: space-around;
}

.item-btn2{
    width: 100%;
    height: 44px;
    border: 0;
    cursor: pointer;
    background: #2563EB;
    border-radius: 8px;
    color: white;
    font-size: 14px;
}

.item-btn2:hover{

    background: #1E40AF;
}

.item h1{
    margin-top: 20px;
    font-size: 32px;
    margin-bottom: 30px;
}

.name-section{
    margin-bottom: 30px;
}

.item img{
    width: 100%;
    height: 216px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.item-btn{
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.item-btn img{
    width: 18px;
    height: 15px;
}

.price{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.availability{
    font-size: 18px;
    color: green;
}

.item-block{
    justify-content: space-between;
    margin-bottom: 20px;
}