@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: break-word;
  font-family: "Inter", sans-serif;
  font-family: Inter;
  font-optical-sizing: auto;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.v-center {
  align-items: center;
}

.g-distribute{
  justify-content: space-between;
}

.center {
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #2563EB;
  color: #fff;
  width: 273px;
  height: 40px;
  font-size: 17px;
}

.button:hover {
  background: #1E40AF;
}
